<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>J&Stay | 제주한달살이 감성숙소</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/favicon.ico" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- font awesome-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="index.html">J<span class="logo_and">&</span>Stay</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">Gallery</a></li>
              <li><a href="#services">Reserved</a></li>
              <li><a href="#faq">Notice</a></li>
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div class="owl-carousel owls">
    <section class="hero" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h1 style="text-shadow: 2px 2px 2px gray;">제주에서 한달 살기</h1>
            <h2 style="text-shadow: 2px 2px 2px gray;">J&Stsy 에서 머물다</h2>
          </div>
        </div>
      </div>

    </section><!-- End Hero -->
    <section class="hero2" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h1  style="text-shadow: 2px 2px 2px gray;">제주감성숙소</h1>
            <h2 style="text-shadow: 2px 2px 2px gray;">J&Stay 에서 머물다</h2>
          </div>
        </div>
      </div>

    </section><!-- End Hero -->
  
  </div>


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
  
        <div class="section-title text-center">
          <h3>A B O U T</h3>
          <i class="fas fa-angle-double-down" style="font-size:30px;color:#009961"></i>
          <br><br>
          <p>J & Stay 는 <span style="color: #009961;font-weight: bold;">'제주'</span>와 <span style="color: #009961;font-weight: bold;">'머물다'</span> 의 합성어 입니다.</p>
        </div>

        <div class="text-center content  p-3 " style="line-height:2.2em;">
          <p><span style="color:#009961;font-size:32px;display: inline;">안</span>녕하세요. J&Stay에 오신걸 환영합니다 
            <i class="fad fa-grin-beam" style="color:rgb(154, 205, 50);font-size: 24px;"></i><br>

          제주 한달살기를 준비하고 고민하고 계시나요? <br>
          
          저희 J&Stay는 서귀포시 남원읍 신흥리에 위치하고 있는 제주의 감성적인 숙소 입니다.<br>
          
          숙소에는 넓은 잔디마당이 있고 숙소 뒷편에는 밀감밭이 있어서 밀감 체험도 즐기실 수 있어요.<br><br>
          
          <span style="color:#009961;font-size:32px;display: inline;">제</span>주의 중산간 지방에서 바라보는 한라산의 장관을 느낄 수 있고, 제주의 아름다운 자연환경을 볼 수 있으며<br>
          
          근처에 바다도 있어서 산과 바다가 주는 즐거움을 동시에 만끽해 보실 수 있습니다.<br><br>
          
          그리고 J&Stay만의 특별한 한달살기 프로그램을 통해 좋은 추억도 덤으로 가져가실 수 있답니다.<br>
          
          저희 J&Stay에서 제주 한달살기를 하시는 동안 편안하고, 즐거운 시간이 되길 바랍니다.<br>
        </p>
        </div>
     </div>
    </section><!-- End About Us Section -->

   


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title text-center">
          <h3>G A L L E R Y</h3>
          <i class="fas fa-angle-double-down" style="font-size:30px;color:#009961"></i>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-in">내부시설</li>
              <li data-filter=".filter-out">외부전경</li>
              <li data-filter=".filter-around">숙소주변경치</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-in">
            <img src="assets/img/16.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>내부 시설 제목 1</h4>
              <a href="assets/img/16.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="내부 시설 제목 1"><i class="bx bx-plus"></i></a>
              <a href="detail_inner.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-out">
           <img src="assets/img/01.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>외부 전경 제목 1</h4>
              <a href="assets/img/01.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="외부 전경 제목 1"><i class="bx bx-plus"></i></a>
              <a href="detail_outer.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-in">
           <img src="assets/img/14.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>내부 시설 제목 2</h4>
              <a href="assets/img/14.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="내부 시설 제목 2"><i class="bx bx-plus"></i></a>
              <a href="detail_inner.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-around">
           <img src="assets/img/10.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>숙소 주변 경치 1</h4>
              <a href="assets/img/10.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="숙소 주변 경치 1"><i class="bx bx-plus"></i></a>
              <a href="detail_around.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
  
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-out">
           <img src="assets/img/04.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>외부 전경 제목 2</h4>
              <a href="assets/img/04.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="외부 전경 제목 2"><i class="bx bx-plus"></i></a>
              <a href="detail_outer.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-in">
          <img src="assets/img/21.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>내부 시설 제목 3</h4>
              <a href="assets/img/21.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="내부 시설 제목 3"><i class="bx bx-plus"></i></a>
              <a href="detail_inner.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-around">
           <img src="assets/img/19.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>숙소 주변 경치 2</h4>
              <a href="assets/img/19.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="숙소 주변 경치 2"><i class="bx bx-plus"></i></a>
              <a href="detail_around.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-around">
           <img src="assets/img/15.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>숙소 주변 경치 3</h4>
              <a href="assets/img/15.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="숙소 주변 경치 3"><i class="bx bx-plus"></i></a>
              <a href="detail_around.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-in">
           <img src="assets/img/22.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>내부 시설 제목 4</h4>
              <a href="assets/img/22.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="내부 시설 제목 4"><i class="bx bx-plus"></i></a>
              <a href="detail_inner.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-out">
            <img src="assets/img/12.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>외부 전경 제목 3</h4>
              <a href="assets/img/12.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="외부 전경 제목 3"><i class="bx bx-plus"></i></a>
              <a href="detail_outer.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>
        <div class="row">
          <span class="col-md-3"></span>
          <a href="detail_inner.html" class="btn-learn-more col-md-6 text-center">More</a>
          <span class="col-md-3"></span>
        </div>
       
      </div>
      
    </section><!-- End Portfolio Section -->


     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
      <div class="container">

        <div class="section-title text-center">
          <h3>R E S E R V E D</h3>
          <i class="fas fa-angle-double-down" style="font-size:30px;color:#009961"></i>
        </div>

         <div class="row">
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-info"></i></div>
              <h4>가격안내</h4>
              <p>(예시)기준인원 0인(최대0인) 000,000원 얼마로? <br> 전기,수도, 가스비는 사용한 만큼 별도 청구 되는가?
              </p>
              <p>(예시)성수기(5월~10월) 000,000 <br> 비성수기(11월~2월) 000,000 <br> 성수기 비성수기별 가격을 따로 받을 것인가?</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-home"></i></div>
              <h4>J&Stay 의 시설</h4>
              <p>(예시) 침실 : 각 침실마다 침대1개 비치되어 있고, 볕이 잘 들어와요<br>
                (예시)화장실 : 넓은 샤워공간과 깔끔한 화장실 1개<br>
                (예시)거실 : 넓은 도어 밖으로 아름다운 자연환경이 펼쳐져 있습니다<br>
                (예시)귤밭/잔디마당 : 000평 규모의 잔디 마당과 감귤밭이 있어요 </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-tasks"></i></div>
              <h4>이벤트/무상서비스</h4>
              <p>계절별 또는 일일 이벤트가 있다면 적어주세요.<br>무상서비스가 있다면 적어주세요. (샴푸,린스,수건 등등 품목을)</p>
            </div>
          </div>

        </div> 

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="accordion-list col-md-6">
            <ul>
              <li>
                <a data-toggle="collapse" class="collapse" href="#accordion-list-1">ex)숙소 예약은 어떻게 하나요? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                  <p>
                    예약을 어떻게 할 것인가에 대한 답변<br>
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">ex)환불규정은 어떻게 할 것인가?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                  <p>
                   환불규정이 있다면 규정을 적어 넣고<br>
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">ex)보증금은 있는가? 있다면 얼마?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                  <p>
                    예시) 기물 파손 시 보증금에서 제하고 돌려드립니다.<br>
                  - 5박 이하 보증금 : 10만원<br>
                  - 6박 이상 보증금 : 20만원<br>
                  - 14박 이상 보증금 : 50만원<br>

                  </p>
                </div>
              </li>


              <li>
                <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">ex)그외 참고사항이 있는가?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                  <p>
                    예시)
                    * 해당 집은 바베큐 이용이 불가합니다. <br>
                    * 반려동물과 함께 지낼 수 있나. <br>
                    * 세탁세제는 필요한만큼 소분하여 가져오시거나 소용량으로 구매 부탁드립니다.<br>
                    * 입실은 PM 3:00 이후 가능하며 퇴실은 AM 11:00 까지입니다.<br>
                    * 반려동물 동반 입실은 불가능합니다.<br>
                    * 문의사항은 미스터멘션 예약 메시지로 부탁드립니다.<br>
                    * 보고있는 집은 J&Stay의 환불규정을 따릅니다.<br>
                    * 상세 호실과 집 주소는 입실 전 메시지로 안내 나갈 예정이니 참고 부탁드립니다.<br>

                  </p>
                </div>
              </li>

            </ul>
          </div>

          <div class="image col-md-6 order-1 order-lg-2 cta  text-center " >
            <h3 style="text-shadow: 2px 4px 2px gray;">J&Stay</h3>
            <p class="p-3" style="text-shadow: 2px 4px 2px gray">제주특별자치도 서귀포시 남원읍 신흥로 176 <br>전화문의 064-711-7382&nbsp;/&nbsp;010-6208-7382</p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <a id="notice"></a>
    <br><br>

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="section-title text-center">
          <h3>N O T I C E</h3>
          <i class="fas fa-angle-double-down" style="font-size:30px;color:#009961"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>No.</th>
                    <th>Subject</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>1</td>
                    <td class="text-left"><a href="inner-page.html">john@example.com</a></td>
                    <td>2021.06.15</td>
                  </tr>
                  <tr class="text-center">
                    <td>2</td>
                    <td class="text-left"><a href="inner-page.html">mary@example.com</a></td>
                    <td>2021.06.15</td>
                  </tr>
                  <tr class="text-center">
                    <td>3</td>
                    <td class="text-left"><a href="inner-page.html">july@example.com</a></td>
                    <td>2021.06.15</td>
                  </tr>
                </tbody>
              </table>
      
      
            </div>

        </div>
       
      </div>
    </section><!-- End Faq Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container">
        <div class="section-title text-center">
          <h3>C O N T A C T</h3>
          <i class="fas fa-angle-double-down" style="font-size:30px;color:#009961"></i>
          <br><br>
        
        </div>  
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location</h4>
                <p><span class="badge badge-info">도로명</span> 제주특별자치도 서귀포시 남원읍 신흥로 176</p>
                <p><span class="badge badge-dark">영문</span> 176, Sinheung-ro, Namwon-eup, Seogwipo-si, Jeju-do</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email</h4>
                <p>blue1km@hanmail.net</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call</h4>
                <p>064-711-7382&nbsp;/&nbsp;010-6208-7382</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Your Phone" data-rule="tel" data-msg="Please enter a valid tel" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>
        <br><br>


        <div class="row mt-3">

          <div class="col-lg-5">
            <h3 style="border-bottom: 1px solid #009961;padding-bottom: 10px;">J<span class="logo_and">&</span>Stay 오시는 길</h3><br>
            <i class="fas fa-plane-departure" style="color:#009961"></i>&nbsp;제주국제공항 출발 기준<br><br>
            <i class="fas fa-car" style="color:#009961"></i>&nbsp;승용차 (약 1시간 소요)<br><br>
            <i class="fas fa-bus" style="color:#009961"></i>&nbsp;대중교통(평균 1시간 20분 소요)<br>
            <div class="pb-3 pt-3" style="border-bottom: 1px solid #ddd;font-size: 12px;">① 제주국제공항 (표선,성산,남원) 정류장   <span class="badge badge-danger">급행131</span>&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;
            의귀환승정류장(의귀초등학교 정류장) <span class="badge badge-info">간선231</span>&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;신흥농장 정류장 하차</div>
            <br>
            <div class="pb-3" style="border-bottom: 1px solid #ddd;font-size: 12px;">② 제주국제공항 (표선,성산,남원) 정류장 <span class="badge badge-warning">순환810-1</span> <span class="badge badge-danger">급행111</span>
            <span class="badge badge-danger">급행112</span>
            <span class="badge badge-danger">급행121</span>
            <span class="badge badge-danger">급행122</span>
            <span class="badge badge-danger">급행131</span>
            <span class="badge badge-danger">급행132</span>&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;
            제주버스터미널 정류장 하차/환승 <span class="badge badge-info">간선231</span>&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;신흥농장 정류장 하차</div>

          </div>

        <div id="daumRoughmapContainer1623821763226" class="root_daum_roughmap root_daum_roughmap_landing col-lg-7"></div>
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

        <!-- 3. 실행 스크립트 -->
        <script charset="UTF-8">
          new daum.roughmap.Lander({
            "timestamp" : "1623821763226",
            "key" : "2693f",
            "mapWidth" : "100%",
            "mapHeight" : "360"
          }).render();
        </script>
        </div>

      </div>



    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <p>제주에서 J&STAY 에 머물다</p>
      <div class="social-links">
        <a href="https://www.facebook.com/jejuall.net/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/jejuall_net/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>J&Stay</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>